<!doctype html>
<html>
<head>
    <title>MF Doom Fan Site</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="indexBody">
<div class="container">

    <div class="jumbotron text-center">
        <h1 class="doomSiteTitle">Doomsday Site</h1>
        <img src="img/mf1.jpg" alt="Mf Doom Portfolio Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
